<!-- Show me that you have a basic understanding of angular -->
<router-outlet></router-outlet>


<!-- Remove the instructions -->
<H1>Flip Coding Challenge..</H1>
<p>Show me you have a basic understanding of Angular, utilizing RxJS (Reactive view bindings to Observables) also a basic understanding of Rust</p>

<ul>
  <li>Delete this instructions and create a component that has a route of '/home' make it the default route within app-routing.module.ts</li>
  <li>Go into the rust code, find the API endpoint '/api/names'. Update it to return the list of names. Currently it returns no names</li>
  <li>Have the angular app consume the API and display the names on the screen of the angular application</li>
  <li>Build the front end assets using the command 'ng build --prod --deploy-url /static/ --output-path dist/'</li>
  <li>There will be no points given for making it styled pretty or making a super sleek UI. Mainly trying to understand if you have general functional concepts. You wont have to spend much time tweaking the UI. The CSS and HTML will be constructed for you. You will just need to be able to template it out and make it functional</li>
</ul>

<h2>From there zip up the application and send it back to us</h2>

<p>For some extra bonus points: Make the list of names drag and drop to customize the order of the list.</p>